## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
sns.set()
%matplotlib inline
warnings.filterwarnings('ignore')

## Importing Dataset

In [3]:
df = pd.read_csv("digit-train.csv")

In [36]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [6]:
df.nunique()

label       10
pixel0       1
pixel1       1
pixel2       1
pixel3       1
            ..
pixel779     3
pixel780     1
pixel781     1
pixel782     1
pixel783     1
Length: 785, dtype: int64

## Data Preprocessing

## Missing Value Detection

In [7]:
df.isnull().sum()

label       0
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Length: 785, dtype: int64

In [8]:
df.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [9]:
lst = [i for i in df.columns if df[i].isnull().sum()>0]
print(len(lst))
lst

0

[]

## Zero Variance Check

In [10]:
l2 = [col for col in df.columns  if df[col].var() == 0]

In [11]:
l2

['pixel0',
 'pixel1',
 'pixel2',
 'pixel3',
 'pixel4',
 'pixel5',
 'pixel6',
 'pixel7',
 'pixel8',
 'pixel9',
 'pixel10',
 'pixel11',
 'pixel16',
 'pixel17',
 'pixel18',
 'pixel19',
 'pixel20',
 'pixel21',
 'pixel22',
 'pixel23',
 'pixel24',
 'pixel25',
 'pixel26',
 'pixel27',
 'pixel28',
 'pixel29',
 'pixel30',
 'pixel31',
 'pixel52',
 'pixel53',
 'pixel54',
 'pixel55',
 'pixel56',
 'pixel57',
 'pixel82',
 'pixel83',
 'pixel84',
 'pixel85',
 'pixel111',
 'pixel112',
 'pixel139',
 'pixel140',
 'pixel141',
 'pixel168',
 'pixel196',
 'pixel392',
 'pixel420',
 'pixel421',
 'pixel448',
 'pixel476',
 'pixel532',
 'pixel560',
 'pixel644',
 'pixel645',
 'pixel671',
 'pixel672',
 'pixel673',
 'pixel699',
 'pixel700',
 'pixel701',
 'pixel727',
 'pixel728',
 'pixel729',
 'pixel730',
 'pixel731',
 'pixel754',
 'pixel755',
 'pixel756',
 'pixel757',
 'pixel758',
 'pixel759',
 'pixel760',
 'pixel780',
 'pixel781',
 'pixel782',
 'pixel783']

In [12]:
len(l2)

76

In [13]:
df.drop(l2, axis =1, inplace = True)

## Checking Balance Imbalace

In [14]:
df['label'].value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

## Splitting data in dependent in dependent variable

In [15]:
x = df.drop("label",axis =1)

In [16]:
y = df[["label"]]

## Splitting Data in Train and Test

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=101)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(31500, 708) (10500, 708) (31500, 1) (10500, 1)

## Model Building using OVR

In [18]:
from sklearn.linear_model import LogisticRegression
logit_ovr = LogisticRegression(multi_class='ovr')
logit_ovr.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
# predict
y_pred_train = logit_ovr.predict(x_train)
y_pred_test = logit_ovr.predict(x_test)

## Evaluation

In [20]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("Trainging Accuracy Score :", accuracy_score(y_train, y_pred_train))
print("****************"*10)
print("Test Accuracy Score :", accuracy_score(y_test, y_pred_test))

Trainging Accuracy Score : 0.9451111111111111
****************************************************************************************************************************************************************
Test Accuracy Score : 0.9053333333333333

In [21]:
print( classification_report(y_train, y_pred_train))
print("****************"*10)
print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98      3127
           1       0.99      1.00      0.99      3530
           2       0.95      0.93      0.94      3118
           3       0.92      0.92      0.92      3269
           4       0.95      0.95      0.95      3044
           5       0.92      0.90      0.91      2843
           6       0.97      0.97      0.97      3114
           7       0.95      0.95      0.95      3309
           8       0.90      0.92      0.91      3053
           9       0.92      0.91      0.92      3093

    accuracy                           0.95     31500
   macro avg       0.94      0.94      0.94     31500
weighted avg       0.95      0.95      0.95     31500

****************************************************************************************************************************************************************
              precision    recall  f1-score   support

           0       0.95      0.97      0.96      1005
           1       0.93      0.94      0.94      1154
           2       0.91      0.86      0.89      1059
           3       0.87      0.89      0.88      1082
           4       0.90      0.94      0.92      1028
           5       0.89      0.84      0.86       952
           6       0.94      0.94      0.94      1023
           7       0.93      0.92      0.92      1092
           8       0.84      0.86      0.85      1010
           9       0.90      0.88      0.89      1095

    accuracy                           0.91     10500
   macro avg       0.91      0.90      0.90     10500
weighted avg       0.91      0.91      0.91     10500

## ROC AND AUC

In [24]:
# cant create ROC curve for multiclass bcz cant calculate tpr and fpr

## Cross Validation

In [ ]:
# Cross Validation approach - K-Fold Method
from sklearn.model_selection import cross_val_score
training_accuracy = cross_val_score(logit_ovr, x_train, y_train, cv=10)
test_accuracy = cross_val_score(logit_ovr, x_test, y_test, cv=10)
print(training_accuracy)
print()
print(test_accuracy)
print()
print("Training Avg Accuracy", training_accuracy.mean())
print()
print("Test Avg Accuracy", test_accuracy.mean())

## Model Building using MUltinominal / Softmax

In [26]:
from sklearn.linear_model import LogisticRegression
logit_multi = LogisticRegression(multi_class='multinomial', solver='lbfgs')
logit_multi.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
y_pred_train_m = logit_multi.predict(x_train)
y_pred_test_m = logit_multi.predict(x_test)

In [28]:
print("Trainging Accuracy Score :", accuracy_score(y_train, y_pred_train_m))
print("****************"*10)
print("Test Accuracy Score :", accuracy_score(y_test, y_pred_test_m))

Trainging Accuracy Score : 0.940952380952381
****************************************************************************************************************************************************************
Test Accuracy Score : 0.9161904761904762

In [29]:
print( classification_report(y_train, y_pred_train_m))
print("****************"*10)
print(classification_report(y_test, y_pred_test_m))

              precision    recall  f1-score   support

           0       0.97      0.98      0.97      3127
           1       0.97      0.98      0.98      3530
           2       0.94      0.92      0.93      3118
           3       0.92      0.92      0.92      3269
           4       0.95      0.94      0.94      3044
           5       0.92      0.90      0.91      2843
           6       0.96      0.97      0.97      3114
           7       0.95      0.95      0.95      3309
           8       0.90      0.91      0.91      3053
           9       0.92      0.93      0.92      3093

    accuracy                           0.94     31500
   macro avg       0.94      0.94      0.94     31500
weighted avg       0.94      0.94      0.94     31500

****************************************************************************************************************************************************************
              precision    recall  f1-score   support

           0       0.96      0.97      0.96      1005
           1       0.96      0.97      0.96      1154
           2       0.91      0.87      0.89      1059
           3       0.89      0.91      0.90      1082
           4       0.91      0.95      0.93      1028
           5       0.89      0.83      0.86       952
           6       0.93      0.95      0.94      1023
           7       0.94      0.93      0.93      1092
           8       0.87      0.89      0.88      1010
           9       0.90      0.89      0.89      1095

    accuracy                           0.92     10500
   macro avg       0.92      0.92      0.92     10500
weighted avg       0.92      0.92      0.92     10500

## Cross Validation

In [30]:
# Cross Validation approach - K-Fold Method
from sklearn.model_selection import cross_val_score
training_accuracy = cross_val_score(logit_multi, x_train, y_train, cv=10)
test_accuracy = cross_val_score(logit_multi, x_test, y_test, cv=10)
print(training_accuracy)
print()
print(test_accuracy)
print()
print("Training Avg Accuracy", training_accuracy.mean())
print()
print("Test Avg Accuracy", test_accuracy.mean())

[0.91597971 0.91915029 0.92073557 0.90669629 0.90949508 0.91870435
 0.90377898 0.90597205 0.91801716 0.90206677]

[0.88341232 0.87867299 0.87452471 0.86584206 0.8847619  0.88740458
 0.89026718 0.87977099 0.88825215 0.88240918]

Training Avg Accuracy 0.912059623786704

Test Avg Accuracy 0.8815318057742216